.details-container {
  background-color: #333;
  color: whitesmoke;
  padding: 20px;
  text-align: center;
}

.details-cover {
  max-width: 20%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.details-title {
  font-size: 2em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.details-content {
  text-align: center;
  color: #ccc;
  margin-top: 10px;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.details-table th,
.details-table td {
  padding: 10px;
  border: 1px solid #555;
  text-align: center;
}

.details-table th {
  background-color: #444;
}

.details-table td {
  background-color: #333;
}

.details-table td button {
  background: #444;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.2s;
}

.details-table td button:hover {
  background: #555;
  box-shadow: 0 0 10px #1db954;
}

.details-buttons {
  text-align: center;
  margin-top: 20px;
}

.details-buttons button {
  background: linear-gradient(to right, #333, #111);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s;
}

.details-buttons button:hover {
  background: linear-gradient(to right, #555, #222);
  transform: scale(1.1);
  box-shadow: 0 0 10px #1db954;
}
