body {
  font-family: "Courier New", Courier, monospace;
  background-color: #333;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

.app-content {
  padding: 20px;
  margin-left: 180px;
  min-height: calc(100vh - 50px);
}

.navbar {
  background: linear-gradient(to right, #333, #111);
  color: white;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.navbar a:hover {
  color: #ff4500;
}
